<div class="container">
    <div style="margin-top:-5px; margin-bottom:5px;">
        <app-navbar></app-navbar>
    </div>
    <div class="container1 row">
        <div class="col-6"></div>
        <div class="col-6 center-aLeft">
            <div class="col-8">
                <div class="h3">Kaufst du noch, oder tauschst du schon?</div>
                <br>
                <div>Schaffe Platz für neue Schätze</div>
                <br>
                <button mat-raised-button color="warn" (click)="goToAll()">Tausche Los</button>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:15px; margin-bottom: 15px;">
        <div class="col-6" style="padding-left: 0; padding-right: 7.5px;">
            <div class="container2 h5 elektronik" style="height: 415px; padding: 40px;">{{categories[0].categoryName}}</div>
        </div>
        <div class="col-6" style="padding-right: 0; padding-left: 7.5px;">
            <div class="container3 h5 haushalt" style="padding: 40px;">{{categories[1].categoryName}}</div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-6 pl-0" style="padding-right: 7.5px;">
                    <div class="container3 h5 kleidung" style="padding: 40px;">{{categories[2].categoryName}}</div>
                </div>
                <div class="col-6 pr-0" style="padding-left: 7.5px;">
                    <div class="container3 h5" style="background-color: #f44336; color: white;">Alle <br> Kategorien
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>